/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 * SPDX-FileCopyrightText: 2022 Arnout Engelen <arnout@bzzt.net>
 *
 * SPDX-License-Identifier: MIT
 */

article>header, article>section header {
	margin: 0;
	padding: 0;
}
h1, h2, h3, p, ul, ol, blockquote, table {
	margin: 0 0 1em 0;
	padding: 0;
}
// main page title
h1 {
	font-family: Archivo, sans-serif;
	font-size: 160%;
	font-weight: $fw_black;
	font-style: normal;
}
// main title
h2 {
	font-size: 140%;
	font-weight: bold;
	font-style: normal;
}
// sub title
h3 {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
}
p {
	font-size: 100%;
	font-weight: $fw_light;
}
a {
    color: map-get($colors, fg0);
}
ul, ol {
	padding: 0;
	list-style-position: outside;
	font-size: 100%;
	font-weight: $fw_light;
	font-style: normal;
	li {
		margin: 0 0 0 1em;
		padding: 0;
	}
}
li>ul, li>ol {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 1ex;
	font-weight: $fw_light;
	tbody>tr:nth-child(even) {
		background-color: map-get($colors, bg1);
	}
	th {
		border: 1px solid map-get($colors, fg2);
		background-color: map-get($colors, bg2);
		font-weight: bold;
		vertical-align: top;
		text-align: left;
	}
	td {
		border: 1px solid map-get($colors, bg1);
		vertical-align: top;
	}
	th, td {
		padding: 1px 1ex;
		line-height: 2;
		&:first-child {
			padding-left: 0.5ex;
		}
		&:last-child {
			padding-right: 0.5ex;
		}
	}
}

blockquote {
	padding: 1em;
	position: relative;
	font-style: italic;
}

div.content-image {
	margin: 1em 0;
	&>img {
		display: block;
		width: 100%;
	}
}

div.youtube-embed {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; // default 16:9
	margin: 1em 0;
	overflow: hidden;
	// make sure the menu is still able to lay over the video.
	// z-index: 1;
	// preview image
	&>a {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		cursor: pointer;
		&>img {
			// img should be at 100% width, height may overflow container, vertically centered.
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			margin: auto;
			cursor: pointer;
		}

		// play button (triangle) with a background shadow to make the triangle stand out from the background
		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			margin: -2em auto auto -1.7em;
			width: 0;
			height: 0;
			border-top: 2em solid transparent;
			border-bottom: 2em solid transparent;
			border-left: 4em solid #000;
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			margin: 0;
			width: 0;
			height: 0;
			background-color: transparent;
			border-radius: 2em;
			box-shadow: 0 0 4em 2em white;
		}
	}
	&>iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

div.bandcamp-embed {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%; // default 700x700
	margin: 1em 0;
	overflow: hidden;
	// preview image
	&>a {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		cursor: pointer;
		&>img {
			// img should be at 100% width, height may overflow container, vertically centered.
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			margin: auto;
			cursor: pointer;
		}

		// play button (triangle) with a background shadow to make the triangle stand out from the background
		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			margin: -2em auto auto -1.7em;
			width: 0;
			height: 0;
			border-top: 2em solid transparent;
			border-bottom: 2em solid transparent;
			border-left: 4em solid #000;
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			margin: 0;
			width: 0;
			height: 0;
			background-color: transparent;
			border-radius: 2em;
			box-shadow: 0 0 4em 2em white;
		}
	}
}


div#mc_embed_signup {
	&>form {
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
		&>input {
			width: 100%;
		}
		&>input[type=text] {
			display: none;
		}
		&>button {
			align-self: baseline;
		}
	}
}

section.shop-item {
	display: grid;
	grid-template-columns: 1fr 2em 1fr;
	&>aside {
		grid-column: 1 / 2;
		text-align: right;
		img {
			display: inline-block;
			max-width: 100%;
			max-height: 50vh;
		}
	}
	&>article {
		grid-column: 3 / 4;
		max-width: 40em;
		justify-self: start;
	}
}
