/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

// font weights
$fw_thin: 100;
$fw_extra_light: 200;
$fw_light: 300;
$fw_normal: 400;
$fw_medium: 500;
$fw_semi_bold: 600;
$fw_bold: 700;
$fw_extra_bold: 800;
$fw_black: 900;
$fw_extra_black: 950;

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-italic.woff2") format("woff2"), url("../fonts/roboto-italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-bolditalic.woff2") format("woff2"), url("../fonts/roboto-bolditalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-lightitalic.woff2") format("woff2"), url("../fonts/roboto-lightitalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Archivo";
	src: url("../fonts/Archivo-Regular.woff2") format("woff2"), url("../fonts/Archivo-Regular.woff") format("woff");
	font-weight: $fw_normal;
	font-style: normal;
}
@font-face {
	font-family: "Archivo";
	src: url("../fonts/Archivo-Black.woff2") format("woff2"), url("../fonts/Archivo-Black.woff") format("woff");
	font-weight: $fw_black;
	font-style: normal;
}
