/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

body.home-layout {
	max-width: none; // override reset
	width: 100%;
	height: 100vh;
	// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
	// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	// overflow: hidden;
	display: grid;
	grid-template-columns: 7fr 30fr 6fr 69fr 10fr 59fr 16fr 30fr 7fr;
	// for a total width of 2400
	grid-template-rows: 9fr 13fr 13fr 1fr 134fr 9fr;
	// for a total height of 1790
	position: relative;
	&>header#main-logo {
		grid-column: 2 / 4;
		grid-row: 2 / 4;
		align-self: start;
		z-index: 5;
		&>a, &>a>img {
			display: block;
			width: 100%;
		}
	}
	#gallery-home-small {
		display: none;
	}
	// container for "zero"
	#gallery-home {
		grid-column: 1 / 10;
		grid-row: 2 / 6;
		justify-self: center;
		align-self: center;
		// the "zero"
		&>div {
			display: block;
			background-color: map-get($colors, fg0);
			width: min(89.94vh, 89.94vw);
			height: min(89.94vh, 89.94vw);
			border-radius: 50%;
			overflow: hidden;
			// create new stacking context, so that also Safari accepts the border radius in combination with
			// overflow hidden. See also:
			// https://stackoverflow.com/a/58283449/2286722
			transform: translateZ(0);
			&>div {
				display: block;
				width: min(89.94vh, 89.94vw);
				height: min(89.94vh, 89.94vw);
				// safari <= 13 does not support two-value overflow
				overflow-x: hidden;
				overflow-y: auto;
				position: relative;
				scrollbar-width: none;
				&::-webkit-scrollbar {
					display: none;
				}
				// contents of the "zero"
				&>div {
					position: absolute;
					display: block;
					top: 0;
					// left column: 50%; right column: 45%
					// also add gap of 5% of width
					// 5% of width on left col (50%): 5 * 100/50 = 10% padding bottom
					// 5% of width on right col (50%): 5 * 100/45 = 11.111% padding bottom
					// see also \App\Http\Controllers\GuestController
					&#zero-left {
						left: 0;
						width: 50%;
						&>div {
							padding-bottom: 10%;
						}
					}
					&#zero-right {
						right: 0;
						width: 45%;
						&>div {
							padding-bottom: 11.111%;
						}
					}
					&>div {
						width: 100%;
						position: relative;
						&>img {
							display: block;
							width: 100%;
						}
						&>div {
							display: block;
							position: absolute;
							z-index: 1;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: 0;
							padding: inherit;
							&>a {
								display: block;
								position: relative;
								width: 100%;
								height: 100%;
								text-decoration: none;
								text-align: left;
								background-color: transparent;
								&>div {
									position: absolute;
									bottom: 0;
									font-family: Archivo, sans-serif;
									color: black;
									background-color: rgba(255,255,255,0.7);
									padding: 0.5em;
									margin: 10px;
								}
							}
						}
					}
					&#zero-left>div>div>a>div {
						text-align: right;
						right: 0;
					}
				}
			}
		}
	}
	#popup-art {
		width: 100%;
		&>figure {
			width: auto;
			right: 40%;
		}
	}
	@media screen and (max-width: $mobile_threshold_max_width) {
		#popup-art {
			width: 100%;
			&>figure {
				top: 28.423vw;
				right: 0;
				#popup-art-close {
					right: 3em;
					&::before, &::after {
						box-shadow: 0 0 0.4em #fff;
					}
				}
			}
		}
	}

	#main-menu {
		grid-column: 7 / 9;
		grid-row: 3 / 4;
		align-self: end;
	}
	
	&>footer#main-user {
		grid-column: 6 / 9;
		grid-row: 5 / 6;
		align-self: end;
		text-align: right;
		overflow: hidden;
	}
	&>footer#main-foot {
		grid-column: 6 / 9;
		grid-row: 6 / 7;
		text-align: right;
	}
}

@media screen and (max-width: $mobile_threshold_max_width) {
	body.home-layout {
		max-width: 100%;
		width: 100%;
		height: 100vh;
		// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
		// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
		height: -webkit-fill-available;
		margin: 0;
		padding: 0;
		// overflow: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 14.2115vw 14.2115vw minmax(0, 1fr);
		position: relative;
		&>header#main-logo {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			align-self: center;
			justify-self: left;
			&>a {
				display: block;
				height: 16.423vw;
				margin: 6vw auto;
				&>img {
					display: block;
					width: auto;
					height: 100%;
				}
			}
		}
		#gallery-home {
			display: none;
		}
		#gallery-home-small {
			grid-column: 1 / 3;
			grid-row: 3 / 4;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 2vh 1fr 0.001vh 1fr 0.5vh;
			background-color: map-get($colors, fg0);
			// the three strips
			&>div.strip.strip-top {
				grid-row: 2 / 3;
			}
			&>div.strip.strip-bottom {
				grid-row: 4 / 5;
			}
			&>div.strip {
				grid-column: 1 / 3;
				display: flex;
				flex-flow: row nowrap;
	
				padding-left: 2.5vh;
				padding-left: 2vh;
				overflow: auto;
				scrollbar-width: none;
				&::-webkit-scrollbar {
					display: none;
				}
				// contents of the strip
				&>div {
					height: 100%;
					margin-right: 2.5vh;
					margin-right: 2vh;
					position: relative;
					&>img {
						display: block;
						width: auto;
						height: calc(100% - 4vh);
					}
					&>div {
						display: block;
						position: absolute;
						z-index: 1;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						margin: 0;
						padding: inherit;
						&>a {
							display: block;
							position: relative;
							width: 100%;
							height: 100%;
							text-decoration: none;
							color: transparent;
							color: map-get($colors, fg4);
							text-align: left;
							font-size: 2vh;
							font-weight: $fw_bold;
							background-color: transparent;
							transition:
								color 200ms,
								background-color 200ms;
							&:hover {
								color: map-get($colors, fg0);
								background-color: rgba(map-get($colors, bg0), 0.8);
							}
							&>div {
								position: absolute;
								bottom: 0;
								padding: 0 0 1vh 0;
							}
						}
					}
				}
			}
		}

		#main-menu {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			justify-self: end;
			align-self: end;
			margin-right: 6vw;
			margin-bottom: 6vw;
			&>ul {
				top: 28.423vw;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 2em;
			}
		}
		
		&>footer#main-user {
			display: none;
		}
		&>footer#main-foot {
			display: none;
		}
	}
}
