/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 * SPDX-FileCopyrightText: 2022 Arnout Engelen <arnout@bzzt.net>
 *
 * SPDX-License-Identifier: MIT
 */

footer {
	a {
		color: map-get($colors, fg0);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
footer#main-user {
	a.profile {
		display: inline-block;
		position: relative;
		top: 0.2em;
		width: 1.2em;
		height: 1.2em;
		overflow: hidden;
		color: transparent;
		background-color: map-get($colors, fg0);
		border: 0.12em solid map-get($colors, fg0);
		border-radius: 50%;
		&::before, &::after {
			content: '';
			position: absolute;
			display: block;
			background-color: map-get($colors, bg0);
			border-radius: 50%;
			left: 50%;
		}
		&::before {
			width: 46%;
			height: 46%;
			margin-left: -23%;
			top: 12.5%;
		}
		&::after {
			width: 0.9em;
			height: 0.9em;
			margin-left: -0.45em;
			top: 0.6em;
		}
	}
	&>form {
		display: inline-block;
	}
}
footer#main-foot {
	a.social-logo {
		display: inline-block;
		position: relative;
		top: 0.2em;
		width: 1.2em;
		height: 1.2em;
		margin: 0 0.2em;
		overflow: hidden;
		color: transparent;
		background-image: url(/img/social-logos.png);
		background-size: 400%;
		background-position-y: top;
		&.facebook {
			background-position-x: 0;
		}
		&.instagram {
			background-position-x: 33%;
		}
		&.linkedin {
			background-position-x: 66%;
		}
		&.mastodon {
			background-position-x: 100%;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
