/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 * SPDX-FileCopyrightText: 2022 Arnout Engelen <arnout@bzzt.net>
 *
 * SPDX-License-Identifier: MIT
 */

body.no-gallery-layout {
	max-width: none; // override reset
	width: 100%;
	height: 100vh;
	// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
	// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
	// grid-template-columns: 22.7vw 1.25vw 22.7vw 5vw 48.35vw;
	position: relative;
	&>header#main-logo {
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		// image: 775x441, aspect ratio (w/h) = 1.75736
		width: 22.7083vw;
		background-color: transparent;
		padding: 5.028vh 2.916vw 5.028vh 4.167vw;
		padding: 2.5vw 2.916vw 2.5vw 4.167vw;
		// height: 2.5vw + (22.7083vw - 2.916vw - 4.167vw) * 441 / 775) + 2.5vw = 13.8917
		&>a, &>a>img {
			display: block;
			width: 100%;
		}
	}
	#no-gallery-story {
		padding: 12vw 15.85vw 0 4.167vw;
		height: 100vh;
		// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
		// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
		height: -webkit-fill-available;
		overflow-y: auto;
		&>main>article>section {
			margin: 1rem 0;
		}
	}
	#popup-art {
		background-color: map-get($colors, bg0);
	}	

	#main-menu {
		position: fixed;
		top: 13.966vh;
		right: 2.917vw;
		width: 10.833vw;
		&>img {
			display: block;
			width: 100%;
		}
	}
	// extra button in top right
	#main-extra {
		position: fixed;
		top: 5.028vh;
		right: 4.167vw;
		width: 10.833vw;
		&>img {
			display: block;
			width: 100%;
		}
	}

	#footers {
		position: sticky;
		top: calc(100vh - 6em);
		margin: 2em 0;
	}
	footer#main-user {
		text-align: right;
	}
	footer#main-foot {
		text-align: right;
	}
}

@media screen and (max-width: $mobile_threshold_max_width) {
	body.no-gallery-layout {
		max-width: 100%;
		width: 100%;
		min-height: 100vh;
		// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
		// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
		min-height: -webkit-fill-available;
		height: auto;
		margin: 0;
		padding: 0;
		// safari <= 13 does not support two-value overflow
		overflow-x: hidden;
		overflow-y: auto;
		// overflow: hidden;
		display: block;
		// grid-template-columns: 1fr 1fr;
		// grid-template-rows: 14.2115vw 14.2115vw 28.423vw minmax(0, 1fr);
		grid-template-rows: 14.2115vw 14.2115vw 25vh minmax(0, 1fr);
		position: relative;
		&>header#main-logo {
			position: relative;
			z-index: auto;
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			width: auto;
			padding: 0;
			align-self: center;
			justify-self: left;
			&>a {
				display: block;
				height: 16.423vw;
				margin: 6vw auto;
				&>img {
					display: block;
					width: auto;
					height: 100%;
				}
			}
		}

		#main-menu {
			position: relative;
			top: 0;
			right: auto;
			width: auto;
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			justify-self: end;
			align-self: end;
			margin-right: 6vw;
			margin-bottom: 6vw;
			&>ul {
				top: 28.423vw;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 2em;
			}
		}

		#no-gallery-story {
			// grid-column: 1 / 3;
			// grid-row: 3 / 5;
			padding: 1em;
			height: auto;
		}
		#popup-art {
			display: none;
			position: relative;
			z-index: 3; // behind #main-logo (z-index: 5)
			grid-column: 1 / 3;
			grid-row: 4 / 5;
			top: auto;
			left: auto;
			width: auto;
			bottom: auto;
			background-color: map-get($colors, bg0);
		}	
		
		&>footer#main-user {
			display: none;
		}
		&>footer#main-foot {
			display: none;
		}
	}
}

