/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

$guest_menu_unit_height: 1.618em;
#main-menu {
	position: relative;
	font-size: 130%;
	font-weight: $fw_black;
	width: 100%;
	line-height: 1;
	z-index: 10;
	label {
		cursor: pointer;
		position: relative;
		display: block;
		height: $guest_menu_unit_height;
		margin: 0;
		z-index: 11;
	}
	&>label {
		padding-bottom: 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		&>div {
			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			&>div {
				display: inline-block;
				height: 1em;
				width: 1.5em;
				margin-left: 0.5em;
				border-top: 0.2em solid map-get($colors, fg0);
				border-bottom: 0.2em solid map-get($colors, fg0);
				position: relative;
				&::after {
					content: '';
					position: absolute;
					display: block;
					top: 50%;
					margin-top: -0.1em;
					height: 0.2em;
					width: 100%;
					background-color: map-get($colors, fg0);
				}
			}
		}
	}
	input[type=checkbox] {
		position: fixed;
		left: -999em;
		top: -999em;
	}
	ul {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: block;
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}
	}
	@media screen and (max-width: $mobile_threshold_min_width) {
		font-size: min(150%, 5vw);
		font-family: Archivo, sans-serif;

		input:not(:checked) ~ ul {
			display: none;
		}
		&>ul {
			padding: 20.1117vh 0 2em 2em;
			padding: calc(21vh + 1em) 0 2em 2em;
			right: 2.917vw;
			bottom: 0;
		}
		ul {
			li {
				text-align: right;
			}
		}
		label {
			text-align: right;
			padding: 0.2em 0;
		}
		a {
			text-align: right;
			padding: 0.2em 0;
		}
	}
	
	@media screen and (min-width: $mobile_threshold_min_width) {
		font-size: 100%;

		label#hamburger {
			display: none;
		}
		label {
			padding: 0.2em 0 0 0;
		}
		&>ul>li>a {
			padding: 0.2em 0 0 0;
		}
		&>ul {
			left: 0px;
			right: 0px;
			&>li {
				display: inline-block;
				vertical-align: top;
				padding: 0px 4px 0px 4px;
				width: 14%;
				&>ul {
					//display: block;
					display: none;
				}
			}
			&>li:hover {
				&>ul {
					background-color: rgba(map-get($colors, bg0), 0.95);
					position: fixed;
					display: block;
					&>li>ul {
						padding-left: 1.4em;
					}
				}
			}
		}
		// TODO display:none/display:block for the submenus
		
		// Note: the id has been added to increase specificity over the previous rule (input:not(:checked) ~ ul)
		//&:hover>ul#main-menu-base {
		//	display: block;
		//}
	}
	&>ul {
		position: fixed;
		// right: 4.167vw;
		z-index: 10;
		top: 0;
		padding-left: 24%;
		background-color: rgba(map-get($colors, bg0), 0.95);
		// safari <= 13 does not support two-value overflow
		overflow-x: hidden;
		overflow-y: auto;

		&>li>ul {
			padding: 8px;
			font-weight: $fw_normal;
			&>li>ul {
				display: block;
				margin-right: 2em;
			}
		}
	}
	// opening of menu on hover does not seem to be the solution as "unhovering" an item
	// to descent to the next will shift this next item up further than where the mouse is.
	// li:hover>ul {
	// 	display: block;
	// }
	a {
		display: block;
		height: $guest_menu_unit_height;
		color: inherit;
		font-weight: inherit;
		text-decoration: none;
	}
}
