/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

.alert {
	position: fixed;
	z-index: 20;
	top: 2em;
	width: 100%;
	max-width: 50em;
	margin: 0 auto;
	background-color: map-get($colors, bg0);
	border: 2px solid map-get($colors, fg0);
	padding: 1em;

	&.alert-danger {
		border: 4px solid #f88;
		z-index: 21;
	}

	div.close-button {
		position: absolute;
		top: 1em;
		right: 1em;
		width: 2em;
		height: 2em;
		cursor: pointer;
		overflow: visible;
		&::before, &::after {
			content: "";
			box-sizing: content-box;
			position: absolute;
			top: 0;
			left: 0;
			width: 141.42%;
			height: 0.2em;
			background-color: map-get($colors, fg0);
			transform: rotate(45deg);
			transform-origin: center left;
		}
		&::after {
			left: auto;
			right: 0;
			transform: rotate(-45deg);
			transform-origin: center right;
		}
	}
}
