/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 * SPDX-FileCopyrightText: 2022 Arnout Engelen <arnout@bzzt.net>
 *
 * SPDX-License-Identifier: MIT
 */

body.no-template-layout {
	max-width: none; // override reset
	width: 100%;
	min-height: 100vh;
	// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
	// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
	min-height: -webkit-fill-available;
	margin: 0;
	padding: 14vw 15.833vw 2.917vw 2.917vw;
	overflow: auto;
	&>header#main-logo {
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		// image: 775x441, aspect ratio (w/h) = 1.75736
		width: 22.7083vw;
		background-color: transparent;
		padding: 5.028vh 2.916vw 5.028vh 4.167vw;
		padding: 2.5vw 2.916vw 2.5vw 4.167vw;
		// height: 2.5vw + (22.7083vw - 2.916vw - 4.167vw) * 441 / 775) + 2.5vw = 13.8917
		&>a, &>a>img {
			display: block;
			width: 100%;
		}
	}
	#main-menu {
		position: fixed;
		top: 13.966vh;
		right: 2.917vw;
		width: 10.833vw;
		&>img {
			display: block;
			width: 100%;
		}
	}
	// extra button in top right
	#main-extra {
		position: fixed;
		top: 5.028vh;
		right: 4.167vw;
		width: 10.833vw;
		&>img {
			display: block;
			width: 100%;
		}
	}

	&>footer#main-user {
		a.profile {
			display: inline-block;
			position: relative;
			top: 0.2em;
			width: 1.2em;
			height: 1.2em;
			overflow: hidden;
			color: transparent;
			background-color: map-get($colors, fg0);
			border: 0.12em solid map-get($colors, fg0);
			border-radius: 50%;
			&::before, &::after {
				content: '';
				position: absolute;
				display: block;
				background-color: map-get($colors, bg0);
				border-radius: 50%;
				left: 50%;
			}
			&::before {
				width: 46%;
				height: 46%;
				margin-left: -23%;
				top: 12.5%;
			}
			&::after {
				width: 0.9em;
				height: 0.9em;
				margin-left: -0.45em;
				top: 0.6em;
			}
		}
		&>form {
			display: inline-block;
		}
	}
	&>footer#main-foot {
		a.social-logo {
			display: inline-block;
			position: relative;
			top: 0.2em;
			width: 1.2em;
			height: 1.2em;
			margin: 0 0.2em;
			overflow: hidden;
			color: transparent;
			background-image: url(/img/social-logos.png);
			background-size: 400%;
			background-position-y: top;
			&.facebook {
				background-position-x: 0;
			}
			&.instagram {
				background-position-x: 33%;
			}
			&.linkedin {
				background-position-x: 66%;
			}
			&.mastodon {
				background-position-x: 100%;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
