/*
 * SPDX-FileCopyrightText: 2022 Arnout Engelen <arnout@bzzt.net>
 *
 * SPDX-License-Identifier: MIT
 */

body.bidbook-layout {
	max-width: none; // override reset
	width: 100%;
	height: 100vh;
	// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
	// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
	min-height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: grid;
	grid-template-columns: 22.7vw 1.25vw 22.7vw 5vw 48.35vw;
	position: relative;
	&>header#main-logo {
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		// image: 775x441, aspect ratio (w/h) = 1.75736
		width: 22.7083vw;
		background-color: white;
		padding: 5.028vh 2.916vw 5.028vh 4.167vw;
		padding: 2.5vw 2.916vw 2.5vw 4.167vw;
		// height: 2.5vw + (22.7083vw - 2.916vw - 4.167vw) * 441 / 775) + 2.5vw = 13.8917vw;
		// (use this height for the top value under #gallery-bidbook-left>div)
		// padding-left: 4.167vw;
		// padding-right: 2.916vw;
		&>a, &>a>img {
			display: block;
			width: 100%;
		}
	}
	#gallery-bidbook-left {
		grid-column: 1 / 2;
	}
	#gallery-bidbook-right {
		grid-column: 3 / 4;
	}
	#gallery-bidbook-small {
		display: none;
	}
	#gallery-bidbook {
		grid-column: 5 / 6;
		// grid-row: 1 / 2;
		padding: 5.028vh 15.85vw 0 0;
		height: 100vh;
		// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
		// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
		min-height: -webkit-fill-available;
		overflow-y: auto;
		&>main>article>section {
			margin: 1rem 0;
		}
	}
	.gallery-bidbook-strip {
		position: relative;
		// grid-row: 1 / 4;
		height: 100vh;
		// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
		// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
		height: -webkit-fill-available;
		overflow-y: auto;
		&>div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			// safari <= 13 does not support two-value overflow
			overflow-x: hidden;
			overflow-y: auto;
			// scrollbar-width: 0;
			// &::-webkit-scrollbar {
			// 	display: none;
			// }
			&>div {
				width: 100%;
				margin-bottom: 1.25vw;
				position: relative;
				&>img {
					display: block;
					width: 100%;
				}
				&>div {
					position: absolute;
					top: 0;
					height: 100%;
					left: 0;
					width: 100%;
					z-index: 1;
					&>a {
						display: block;
						width: 100%;
						height: 100%;
						position: relative;
						background-color: transparent;
						text-decoration: none;
						&>div {
							position: absolute;
							bottom: 0;
							left: 0;
							font-family: Archivo, sans-serif;
							color: black;
							background-color: rgba(255,255,255,0.7);
							padding: 0.5em;
							margin: 10px;
						}
					}
				}
			}
		}
	}
	#gallery-bidbook-left>div {
		top: 13.8917vw; // from calculated height above
	}
	#popup-art {
		background-color: map-get($colors, bg0);
	}

	// extra button in top right
	#main-extra {
		position: fixed;
		top: 5.028vh;
		right: 4.167vw;
		width: 10.833vw;
		&>img {
			display: block;
			width: 100%;
		}
	}

}

@media screen and (max-width: $mobile_threshold_max_width) {
	body.bidbook-layout {
		max-width: 100%;
		width: 100%;
		min-height: 100vh;
		// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
		// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
		min-height: -webkit-fill-available;
		height: auto;
		margin: 0;
		padding: 0;
		// safari <= 13 does not support two-value overflow
		overflow-x: hidden;
		overflow-y: auto;
		// overflow: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		// grid-template-rows: 14.2115vw 14.2115vw 28.423vw minmax(0, 1fr);
		grid-template-rows: 14.2115vw 14.2115vw 25vh minmax(0, 1fr);
		position: relative;
		&>header#main-logo {
			position: relative;
			z-index: auto;
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			width: auto;
			padding: 0;
			align-self: center;
			justify-self: left;
			&>a {
				display: block;
				height: 16.423vw;
				margin: 6vw auto;
				&>img {
					display: block;
					width: auto;
					height: 100%;
				}
			}
		}
		#gallery-bidbook-left, #gallery-bidbook-right {
			display: none;
		}
		#gallery-bidbook-small {
			grid-column: 1 / 3;
			grid-row: 3 / 4;
			display: flex;
			flex-flow: row nowrap;
			background-color: map-get($colors, fg0);
			padding: 2vh 0 0.001vh 2vh; // 2.5 0 0.5 2.5
			overflow: auto;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
			// contents of the strip
			&>div {
				height: 100%;
				margin-right: 2vh; // 2.5
				position: relative;
				&>img {
					display: block;
					width: auto;
					height: calc(100% - 4vh);
				}
				&>div {
					display: block;
					position: absolute;
					z-index: 1;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: 0;
					padding: inherit;
					&>a {
						display: block;
						position: relative;
						width: 100%;
						height: 100%;
						text-decoration: none;
						color: transparent;
						color: map-get($colors, fg4);
						text-align: left;
						font-size: 2vh;
						font-weight: $fw_bold;
						background-color: transparent;
						transition:
							color 200ms,
							background-color 200ms;
						&:hover {
							color: map-get($colors, fg0);
							background-color: rgba(map-get($colors, bg0), 0.8);
						}
						&>div {
							position: absolute;
							bottom: 0;
							padding: 0 0 1vh 0;
						}
					}
				}
			}
		}

		#gallery-bidbook {
			grid-column: 1 / 3;
			grid-row: 4 / 5;
			padding: 1em;
			height: auto;

		}
		#popup-art {
			display: none;
			position: fixed;
			z-index: 3; // behind #main-logo (z-index: 5)
			top: 0;
			left: 0;
			width: 100%;
			bottom: auto;
			height: 100vh;
			// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
			// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
			height: -webkit-fill-available;
			background-color: rgba(map-get($colors, bg0), 0.8);
			&>figure {
				top: 29.2vw;
				bottom: 3vw;
				left: 0;
				right: 0;
				#popup-art-close {
					right: 3em;
					&::before, &::after {
						box-shadow: 0 0 0.4em #fff;
					}
				}
			}
		}	
	}
}

