/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

#popup-art {
	display: none;
	position: fixed;
	z-index: 3; // behind #main-logo (z-index: 5)
	background-color: rgba(map-get($colors, bg0), 0.8);
	top: 0;
	left: 0;
	width: 50%;
	bottom: 0;
	&>figure {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5em;
		top: 14.6vw;
		bottom: 3vw;
		left: 0;
		right: 3em;
		&>div {
			position: relative;
			flex-grow: 0;
			flex-shrink: 1;
			overflow: hidden;
			&>img {
				display: block;
				max-width: 96%;
				max-height: 100%;
				object-fit: contain;
				margin: 0 auto;
			}
		}
		&>figcaption {
			flex-grow: 0;
			flex-shrink: 0;
			text-align: left;
			font-size: 100%;
			font-weight: $fw_extra_bold;
			&>section {
				font-weight: inherit;
			}
			a {
				color: map-get($colors, fg0);
			}
		}
		#popup-art-close {
			position: absolute;
			z-index: 4;
			display: block;
			top: 0;
			right: -3em;
			width: 2em;
			height: 2em;
			cursor: pointer;
			overflow: visible;
			&::before, &::after {
				content: "";
				box-sizing: content-box;
				position: absolute;
				top: 0;
				left: 0;
				width: 141.42%;
				height: 0.2em;
				background-color: map-get($colors, fg0);
				transform: rotate(45deg);
				transform-origin: center left;
			}
			&::after {
				left: auto;
				right: 0;
				transform: rotate(-45deg);
				transform-origin: center right;
			}
		}
	}
}
