/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

// see also _reset
form:not(.no-layout), div.form-layout, form:not(.no-layout)>fieldset {
	// any image-picker form control
	div.image-picker {
		display: grid;
		grid-template-columns: 152px 4em 1fr;
		column-gap: 1em;
		row-gap: 0;
		&>.preview {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			width: 150px;
			min-height: 1em;
			box-sizing: content-box;
			margin: 0;
			border: 1px solid map-get($colors, fg0);
			background-color: map-get($colors, bg1);
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			&:focus {
				outline: none;
				box-shadow: 0 0 0 1px map-get($colors, fg0);
				background-color: map-get($colors, bg2);
			}
		}
		&>label, &>span {
			align-self: start;
			justify-self: start;
		}
		&>label {
			grid-column: 2 / 3;
			&::after {
				content: ':';
			}
		}
		&>span {
			grid-column: 3 / 4;
		}
	}
}

// the actual picker modal dialog
div#image-picker {
	position: fixed;
	display: none;
	top: 5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	opacity: 0.9;
	background-color: map-get($colors, bg0);
	margin: 1em;
	border: 1px solid map-get($colors, fg0);
	padding: 1em;
	overflow-y: auto;

	ul#image-picker-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 -1em 0;
		padding: 0;
		li {
			margin: 1em;
			border: 1px solid map-get($colors, fg0);
			width: 150px;
			text-align: center;
			align-self: stretch;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}
