/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

// see also _reset
// any image-picker form control
div.multi-image-picker {
	&>.javascript-warning {
		font-weight: bold;
	}
	&>.preview {
		min-width: 4em;
		min-height: 4em;
		margin: 0;
		border: 1px solid map-get($colors, fg0);
		background-color: map-get($colors, bg1);
		cursor: pointer;
		display: inline-flex;
		flex-flow: row wrap;
		justify-content: center;
		&:focus {
			outline: none;
			box-shadow: 0 0 0 1px map-get($colors, fg0);
			background-color: map-get($colors, bg2);
		}
		&>:not(:first-of-type) {
			margin-left: 1px;
			border-left: 1px solid map-get($colors, fg0);
		}
	}
	&>label, &>span {
		align-self: start;
		justify-self: start;
	}
	&>label {
		grid-column: 2 / 3;
		&::after {
			content: ':';
		}
	}
	&>span {
		grid-column: 3 / 4;
	}
}

// the actual multi picker modal dialog
div#multi-image-picker {
	position: fixed;
	z-index: 1;
	display: none;
	top: 5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	opacity: 0.9;
	background-color: map-get($colors, bg0);
	margin: 1em;
	border: 1px solid map-get($colors, fg0);
	padding: 1em;
	overflow-y: auto;

	ul#multi-image-picker-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 -1em 0;
		padding: 0;
		li {
			margin: 1em;
			border: 1px solid map-get($colors, fg0);
			width: 150px;
			text-align: center;
			align-self: stretch;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			&.selected::before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				width: 0;
				height: 0;
				background-color: transparent;
				border: 1em solid blue;
				border-left-color: transparent;
				border-bottom-color: transparent;
			}
			&.selected::after {
				content: '✓';
				position: absolute;
				display: block;
				top: 0;
				right: 0.1em;
				font-weight: bold;
				color: white;
				background-color: transparent;
			}
		}
	}
}
