/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

$mobile_threshold_max_width: 799px;
$mobile_threshold_min_width: 800px;

html, body, span, object, iframe, p, blockquote, abbr, address, cite {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	background: transparent;
}
html {
	box-sizing: border-box;
	font-size: 112.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: "Roboto", sans-serif;
	max-width: 66em;
	margin: 1rem auto;
	padding: 0 1em;
	line-height: 1.4;
	background-color: map-get($colors, bg0);
	color: map-get($colors, fg0);
}
main, article, aside, figure, footer, header, nav, section, details, summary {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	background: transparent;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0 0 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: bold;
	font-style: normal;
	background: transparent;
	&:first-child {
		margin-top: 0;
	}
}
h1 {
	font-size: 140%;
}
h2, h3 {
	font-size: 120%;
}
h6 {
	font-size: 90%;
}
h3, h5 {
	font-style: italic;
}

table {
	border-collapse: collapse;
	border-spacing: 1ex;
	tbody>tr:nth-child(even) {
		background-color: map-get($colors, bg1);
	}
	th {
		border: 1px solid map-get($colors, fg2);
		background-color: map-get($colors, bg2);
		font-weight: bold;
		vertical-align: top;
		text-align: left;
	}
	td {
		border: 1px solid map-get($colors, bg1);
		vertical-align: top;
	}
	th, td {
		padding: 1px 1ex;
		line-height: 2;
		&:first-child {
			padding-left: 0.5ex;
		}
		&:last-child {
			padding-right: 0.5ex;
		}
	}
	&.key-value {
		border-spacing: 2px;
		background-color: transparent;
		tbody>tr:nth-child(even) {
			background-color: transparent;
		}
		tr {
			background-color: transparent;
		}
		td, th {
			border: none;
			background-color: transparent;
			font-weight: normal;
			line-height: 1.2;
		}
		th::after {
			content: ':';
		}
		.code {
			font-family: monospace;
		}
		.small {
			font-size: 80%;
		}
		.em {
			font-style: italic;
		}
	}
}

a {
	cursor: pointer;
}

hr {
	display:block;
	height: 0;
	margin: 1rem 0;
	border: none;
	border-top: 1px solid map-get($colors, fg1);
	border-bottom: 1px solid map-get($colors, fg4);
}

input, button, select, textarea, a.button {
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	margin: 0;
	line-height: 1.5;
	border: 1px solid map-get($colors, fg0);
	background-color: map-get($colors, bg1);
	color: map-get($colors, fg0);
	&:focus {
		outline: none;
		box-shadow: 0 0 0 1px map-get($colors, fg0);
		background-color: map-get($colors, bg2);
	}
}
input[type=button], input[type=submit], button, a.button {
	display: inline-block;
	cursor: pointer;
	padding: 1px 1em;
	transition: background-color 0.1s;
	text-decoration: none;
	&:hover {
		background-color: map-get($colors, bg2);
	}
}
input, button, select, textarea, a.button {
	&:disabled {
		cursor: default;
		outline: none;
		border: 1px solid map-get($colors, fg2);
		background-color: map-get($colors, bg0);
		color: map-get($colors, fg2);
	}
}

input[type=checkbox].styled, input[type=radio].styled {
	position: relative;
	margin-right: 1.8em;
	margin-left: 1ex;
	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		height: 1.8em;
		left: -1ex;
		width: 1.8em;
		margin: -0.9em 0 0 0;
		border: 1px solid map-get($colors, fg0);
		background-color: map-get($colors, bg1);
		text-align: center;
		cursor: pointer;
	}
	&:focus::before {
		outline: none;
		box-shadow: 0 0 0 1px solid map-get($colors, fg0);
		background-color: map-get($colors, bg2);
	}
	&:checked::before {
		content: '✔';
	}
}
input[type=radio].styled {
	&::before {
		border-radius: 0.9em;
	}
	&:checked::before {
		content: '';
	}
	&:checked::after {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		height: calc(1em - 1px);
		left: -1ex;
		width: calc(1em - 1px);
		margin: -0.5em 0 0 calc(0.4em + 1px);
		// border: 1px solid map-get($colors, fg0);
		border-radius: 0.5em;
		background-color: map-get($colors, fg0);
		text-align: center;
		cursor: pointer;
	}
}

label.input {
	cursor: pointer;
}

// Layout of forms (all, except those marked with a class 'no-layout')
form:not(.no-layout), div.form-layout, form:not(.no-layout)>fieldset {
	display: grid;
	grid-template-columns: 10em 1fr;
	column-gap: 1em;
	row-gap: 1em;
	&.width-30 {
		width: 30%;
		margin: 0 auto;
	}

	&>* {
		grid-column: 2 / 3;
		align-self: start;
	}
	&>label:not(.input) {
		grid-column: 1 / 2;
	}
	&>input[type=button], &>input[type=submit], &>button, &>select, &>input[type=number] {
		justify-self: start;
		min-width: 3em;
	}
	@each $stop in (5, 10, 15, 20) {
		&>.small-#{$stop}em {
			justify-self: start;
			width: #{$stop}em;
		}
	}

	&>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>p, &>div, &>hr {
		grid-column: 1 / 3;
	}
	&>.right, &>div.cke, &>div.image-picker, &>div.multi-image-picker {
		grid-column: 2 / 3;
	}

	&>div.multiple {
		grid-column: 2 / 3;
		display: grid;
		&.multiple-2 {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 1em;
		}
		&.multiple-150px-rest {
			grid-template-columns: 150px 1fr;
			column-gap: 1em;
		}
		&.multiple-auto-rest {
			grid-template-columns: auto 1fr;
			column-gap: 1em;
		}
		&>* {
			justify-self: start;
		}
		&>.right-align {
			justify-self: end;
		}
	}
}

form:not(.no-layout)>fieldset {
	grid-column: 1 / 3;
	grid-template-columns: 9em 1fr;
	border: 1px solid map-get($colors, fg0);
	margin: 0;
	padding: calc(1em - 1px);
}

form.space {
	margin: 1em 0;
}

.hidden-scrollbar {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}