/*
 * SPDX-FileCopyrightText: 2021 - 2022 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

main.cms-images-index table:not(.key-value)>tbody>tr {
	&.updated {
		background-color: map-get($colors, bg2);
	}
	.excerpt-of {
		img {
			width: 75px;
		}
	}
	.excerpts {
		div {
			display: flex;
			flex-wrap: wrap;
			img {
				width: 75px;
			}
		}
	}
	.usage {
		div {
			display: flex;
			flex-direction: column;
			justify-content: stretch;
		}
	}
}

main.cms-pages-index {
	table td>div>* {
		display: inline-block;
	}
}

main.cms-imagesets-edit {
	section#images {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		&>div {
			position: relative;
			border: 0.3em solid map-get($colors, fg0);
			margin-right: -0.3em;
			min-width: 6em;
			img {
				display: block;
				height: 8em;
				margin: 0 auto;
			}
			a, div, button {
				position: absolute;
				display: block;
				z-index: 1;
				width: 2em;
				height: 2em;
				background-color: rgba(map-get($colors, bg0), 0.5);
				border: 1px solid map-get($colors, fg0);
				color: map-get($colors, fg0);
				text-decoration: none;
				padding: 0;
				margin: 0;
				line-height: 2em;
				text-align: center;
			}
			a:hover, button:hover {
				background-color: rgba(map-get($colors, bg2), 0.5);
			}
			.shift {
				top: 0;
				left: 0;
				border-bottom-right-radius: 50%;
			}
			.delete {
				top: 0;
				right: 0;
				border-bottom-left-radius: 50%;
			}
			.link {
				bottom: 0;
				left: 0;
				border-top-right-radius: 12.5%;
				width: 1.5em;
				height: 1em;
				line-height: 1em;
				cursor: default;
			}
			.edit {
				bottom: 0;
				right: 0;
				border-top-left-radius: 50%;
			}
		}
	}
}

main.cms-menuitems-index {
	section#menu-forms {
		display: grid;
		grid-template-columns: 2em 2em 1fr 2em 2em auto auto;
		column-gap: 0.5em;
		row-gap: 0.5em;
		justify-items: stretch;
		align-items: start;

		form {
			display: block;
		}
		form.update, form.create {
			&.level-0 {
				grid-column: 1 / 4;
			}
			&.level-1 {
				grid-column: 2 / 5;
			}
			&.level-2 {
				grid-column: 3 / 6;
			}
			display: grid;
			grid-template-columns: 15em 1fr auto;
			column-gap: 0;
			row-gap: 0;
			justify-items: stretch;
			align-items: start;
			input[name=label] {
				grid-column: 1 / 2;
			}
			input[name=href] {
				grid-column: 2 / 3;
			}
			button {
				grid-column: 3 / 4;
			}
		}
		form.create input[type=text], form.create button {
			background-color: map-get($colors, bg0);
		}
		form.swap {
			grid-column: 6 / 7;
		}
		form.delete {
			grid-column: 7 / 8;
		}
	}

	ul {
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
		li {
			display: block;
			margin: 0;
			padding: 0;
			li {
				margin-left: 2em;
			}
			form {
				display: inline-block;
				margin: 0 0 1ex 0;

				input[name=label] {
					width: 15em;
					display: inline-block;
				}
				input[name=href] {
					width: 20em;
					display: inline-block;
				}
				&.create input[type=text], &.create button {
					background-color: map-get($colors, bg0);
				}
			}
		}
	}
}

main.cms-pages-contents-index {
	section.blocks>section {
		margin: 1rem 0;
		border: 1px solid map-get($colors, fg3);
		padding: 1rem;
	}
}

main.cms-redirects-index {
	tr.updated {
		.invalid {
			background-color: map-get($colors, bge);
			color: #fff;
		}
	}
}

main.cms-datalimit {
	.visits {
		position: relative;
		display: grid;
		grid-template-columns: 4em .5em 1px repeat(96, 1fr) 1px .5em 4em;
		grid-template-rows: 0.4em 7em .5em 1.4em;
		width: 100%;
		justify-items: stretch;
		align-items: end;
		background-color: map-get($colors, bg1);
		&>div {
			width: 100%;
			background-color: map-get($colors, bg2);
			border-top: 1px solid map-get($colors, fg0);
			grid-row: 2 / 3;
			z-index: 10;
			&.max-d {
				border-top: 2px dashed #f44;
				background-color: transparent;
				grid-column: 4 / -4;
				z-index: 5;
			}
			&.y-axis {
				height: 100%;
				background-color: map-get($colors, fg0);
				grid-column: 3 / 4;
				z-index: 5;
			}
			&.right-axis {
				grid-column: -4 / -3;
			}
			&.y-tick {
				background-color: transparent;
				grid-column: 2 / 3;
				z-index: 5;
			}
			&.right-tick {
				grid-column: -3 / -2;
			}
			&.y-tickmark {
				background-color: transparent;
				border: none;
				grid-column: 1 / 2;
				z-index: 6;
				overflow: visible;
				text-align: right;
			}
			&.right-tickmark {
				grid-column: -2 / -1;
				text-align: left;
			}
			&.x-axis {
				background-color: map-get($colors, fg0);
				grid-column: 3 / -3;
				grid-row: 2 / 3;
				height: 0;
				z-index: 5;
			}
			&.x-tick {
				width: 100%;
				height: 100%;
				border: none;
				border-left: 1px solid map-get($colors, fg0);
				background-color: transparent;
				grid-row: 3 / 4;
				grid-column-end: span 4;
			}
		}
	}
}
