/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

ul.roles {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	&>li {
		display: inline-block;
		margin: 0 2px 0 0;
		padding: 2px 3px;
		background-color: map-get($colors, bg0);
		border: 1px solid map-get($colors, bg2);
		line-height: 1em;
	}
}
ul.roles.multiline {
	&>li {
		display: block;
		margin: 0.2em 0 0.3em 0;
	}
}

main.profiles-index {
}
