/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

@import 'fonts';
@import 'colors';

body {
	font-family: Roboto, sans-serif;
	font-size: 100%;
	margin: 1rem 1rem 0;
	line-height: 1.4;
	background-color: transparent;
	color: map-get($colors, fg0);
}

@import 'contents';
