/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 * SPDX-FileCopyrightText: 2022 Arnout Engelen <arnout@bzzt.net>
 *
 * SPDX-License-Identifier: MIT
 */

@import 'fonts';
@import 'colors';
@import 'reset';

html {
	width: 100vw;
	height: 100vh;
	// fix for the "feature" of Webkit/Safari on iPhone where 100vh includes some browser chrome
	// https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
	height: -webkit-fill-available;
}

// note: guest_menu must come before guest_home and guest_story as the latter
// may override some layout properties.
@import 'guest_menu';
@import 'guest_footer';
@import 'guest_alert';
@import 'guest_no_template';
@import 'guest_home';
@import 'guest_no-gallery';
@import 'guest_story';
@import 'guest_bidbook';
@import 'guest_popup_art';

article {
	@import 'contents';
}
