/*
 * SPDX-FileCopyrightText: 2021 Marten Koetsier <eicas@koetsierengineering.nl>
 *
 * SPDX-License-Identifier: MIT
 */

@import 'fonts';
@import 'colors';
@import 'reset';

body>div#background {
	position: fixed;
	display: block;
	width: 100%;
	z-index: -1;
	font-size: 40vw;
	color: rgba(map-get($colors, fg1), 0.1);
	text-align: center;
	font-weight: bold;
}
body>header {
	display: grid;
	grid-template-columns: 10em 9fr;
	column-gap: 2rem;
	padding-bottom: 1ex;
	margin-bottom: 1em;

	&>h1 {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		white-space: nowrap;
		img {
			display: block;

			height: 4rem;
		}
	}
	&>section#user-info {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		white-space: nowrap;
		display: grid;
		a {
			grid-column: 1 / 2;
			align-self: start;
			white-space: normal;
			color: map-get($colors, fg1);
			font-weight: 300;
			text-decoration: none;
		}
		form {
			grid-column: 2 / 3;
			justify-self: end;
			align-self: start;
		}
	}
	&>section#crumbs {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		align-self: end;
		ul {
			display: block;
			list-style: none;
			margin: 0 0 0 -1ex;
			padding: 0;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				&:not(:first-of-type)::before {
					content: '>';
				}
				a, h4 {
					display: inline-block;
					margin: 0 1ex;
					padding: 2px 1ex;
					border: 1px solid map-get($colors, fg0);
					color: map-get($colors, fg0);
				}
				a {
					background-color: map-get($colors, bg1);
					transition: background-color 0.1s;
					cursor: pointer;
					text-decoration: none;
					&:hover {
						background-color: map-get($colors, bg2);
					}
				}
				h4 {
					background-color: map-get($colors, bg0);
					cursor: default;
					font-size: 100%;
					font-weight: bold;
					font-style: normal;
				}
			}
		}
	}
	@media screen and (max-width: 896px) {
		&>h1 {
			grid-column-end: 3;
			img {
				height: 10vw;
			}
		}
		&>section#user-info {
			grid-column-start: 1;
			grid-row: 4 / 5;
		}
		&>section#crumbs {
			grid-row: 5 / 6;
		}
	}
}

div.alert {
	margin: 1rem 2rem;
	border: 4px solid map-get($colors, fg1);
	padding: 1rem;
	background-color: rgba(map-get($colors, bg1), 0.2);
	&.alert-danger {
		border-color: #f44;
	}
}

.btn-save::before {
	content: '🖫';
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-update::before {
	content: '🖉';
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-delete::before {
	content: '🗙';
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-up::before {
	content: '↟'; // ⬆
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-right::before {
	content: '↠'; // ⮕
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-down::before {
	content: '↡'; // ⬇
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-left::before {
	content: '↞'; // ⬅
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-refresh::before {
	content: '🗘'; // ↻⇌⇄⟳⥁⭮
	display: inline-block;
	margin: 0 0.5em 0 0;
}
.btn-on-off::before {
	content: '⏻'; //
	display: inline-block;
	margin: 0 0.5em 0 0;
}

main {
	nav {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin: 0;
		padding: 0;

		a {
			display: block;
			margin: 1rem;
			border: 1px solid map-get($colors, fg0);
			padding: 1rem;
			color: map-get($colors, fg0);
			text-decoration: none;
			&:hover {
				background-color: rgba(map-get($colors, fg1), 0.2);
			}
			h3 {
				margin: 0;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 0;
				}
			}
			p>img {
				display: inline-block;
				max-height: 3em;
			}
		}
	}
}

// make sure that the ckeditor is transparent
.cke_inner, .cke_wysiwyg_frame {
	background-color: transparent!important;
}
.cke_combopanel {
	background-color: map-get($colors, bg0)!important;
	border: 1px solid map-get($colors, fg1)!important;
}

@import 'user_cms';
@import 'user_profile';
@import 'image_picker';
@import 'multi_image_picker';
